body {
    background-color: rgb(5, 5, 5);
    color: #FFFFFFFF;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart {
    margin: 200px;
    background-color: red;
    height: 200px;
    transform: rotate(-45deg);
    width: 200px;
    position: relative;
}

.heart:before, .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 200px;
    position: absolute;
    width: 200px;
}

.heart:before {
    top: -100px;
}

.heart:after {
    left: 100px;
}

.container-poema {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poema {
    background-color: rgb(16, 16, 26);
    width: 300px;
    border-radius: 5px;
    padding: 10px;
}